<%= if logged_in?(@conn) do %>
  <div class="row">
    <div class="col-md-12 alert alert-info">
      Hello, <span id="user"><%= current_user(@conn).email %> </span>! <span class="alert-dismiss"> x</span>
    </div>
    <div class="col-md-8">
      <h2>Feels</h2>
      <input type="text" id="newFeelMessage" placeholder="Type and press enter..." class="form-control">
      <ul id="feelMessageList" class="list-unstyled">
        <%= for post <- @posts do %>
        <li>
          <b><%= post.username %></b>
          <i><%= post.inserted_at %></i>
          <p><%= post.body %></p>
          <ul class="reactions">
          <%= for reaction <- post.reactions do %>
            <li class="reaction">
              <span class="reaction-emoji"><%= reaction.emoji %></span>
            </li>
          <% end %>
            <li class="reaction">
              <span class="reaction-add">+</span>
            </li>
            <li class="reaction reaction-add-input" style="display:none">
              <input type="text" data-post-id="<%= post.id %>">
            </li>
          </ul>
        </li>
        <% end %>
      </ul>
      <input type="hidden" id="csrf-token" value="<%= @csrf_token %>">
    </div>
    <div  class="col-md-4">
      <h2>Who’s Online</h2>
      <ul id="UserList" class="list-unstyled">
        <li>Loading online users...</li>
      </ul>
    </div>
  </div>
<% else %>
  <div class="jumbotron">
    <h2><%= gettext "Welcome to %{name}", name: "RetroDoc" %></h2>
    <p class="lead">A place for you to share all of your feels<br /> 😁 😒 😡 😢</p>
  </div>

  <div class="row marketing">
    <div class="col-lg-12">
      <h4>Source</h4>
      <ul>
        <li>
          <a href="https://github.com/JessicaG/retrodoc">GitHub Repository</a>
        </li>
      </ul>
    </div>
  </div>
<% end %>
